<% include partials/header %>

<%
function jsUcfirst(string) 
{
    return string.charAt(0).toUpperCase() + string.slice(1);
} %>
<h1>#<%= pokemon.game_indices[0].game_index %> - <%= jsUcfirst(pokemon.species.name) %> - <% pokemon.types.forEach(element =>{ %>
<%= jsUcfirst(element.type.name) %>
<% }) %></h1>
<img src="<%= pokemon.sprites.front_default %>">
<ul>
<li><strong>Base Stats</strong></li>
<% pokemon.stats.slice().reverse().forEach(element =>{ %>
    <li><%= element.stat.name %>: <%= element.base_stat %></li>
<% }); %>
</ul>

<ul>
<li><strong>Level Learned - Move</strong></li>
<% 
pokemon.moves.sort(function(a, b){
    return a.version_group_details[0].level_learned_at-b.version_group_details[0].level_learned_at
})
pokemon.moves.forEach(element =>{ 
    if(element.version_group_details[0].move_learn_method.name == "level-up"){ %>
<li><%= element.version_group_details[0].level_learned_at %> - <%= element.move.name %></li>
<% }}) %>
</ul>


<% include partials/footer %>
